.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.header{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}
.header div span{
    position: relative;
    top: 7vh;
    font-size:larger;
    font-weight:bolder;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 55px;
    padding-top: 50px;
    color: white
}
.logo{
    width: 250px;
    height: 40px;
}
.content{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.building{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}
.building span{
    font-size: 90px;
    line-height: 110px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white
}
.contact{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 33%;
}
.div1 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 33%;
}
.div2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* */
.div3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 33%;
}
.div3 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.div3 div span{
    color:white;
    font-weight: 500;
    font-size: 22px;
}
.div3 div p{
    color:white
}
.textarea{
    width: 45vw;
    height: 120px;
    border-radius: 10px;
    border: 1px white solid;
    background-color: transparent;
    font-family: 'Plus Jakarta Sans';
    color: white;
    padding: 5px;
    padding-left: 15px;
    font-size: large;
    resize: none;
}
textarea:focus{
    outline: none;
}
.foot{
    display: none !important;
}
.input{
    width: 350px;
    height: 35px;
    border-radius: 10px;
    border: 1px white solid;
    background-color: transparent;
    font-family: 'Plus Jakarta Sans';
    color: white;
    padding: 5px;
    padding-left: 15px;
    font-size: large;
}
.input:focus{
    outline: 3px solid #bbbbbb;
}
.label{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}
@media only screen and (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: min-content;
    }
    .header{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        padding-top: 50px;
    }
    .header div span{
        display: none;
    }
    .logo{
        width: 250px;
        height: 40px;
    }
    .content{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .building{
        width: 100%;
        height: 60px;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .building span{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        font-size: 50px;
        line-height: 110px;
        font-weight: bolder;
        letter-spacing: 1px;
        color: white
    }
    .contact{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 33%;
    }
    .div2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 33%;
    }
    /* */
    .div3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 33%;
    }
    .div3 div span{
        color:white;
        font-weight: 500;
        font-size: 22px;
    }
    .div3 div p{
        color:white
    }
    textarea:focus{
        outline: none;
    }
    .copyright{
        display: none !important;
    }
    .working{
        display: none !important;
    }
    .foot{
        display: block !important;
        padding-top: 50px;
        font-size: 12.5px;
        text-align: center !important;
    }
    .foot span{
        font-size: 16px !important;
        letter-spacing: 1px;
    }
    .foot p{
        position: relative;
        bottom: 7.5px;
        padding-top: 5px;
    }
    .input{
        width: 200px;
        height: 25px;
        border-radius: 10px;
        border: 1px white solid;
        background-color: transparent;
        font-family: 'Plus Jakarta Sans';
        color: white;
        padding: 5px;
        padding-left: 15px;
        font-size: large;
        margin-bottom: 10px;
    }
    .input:focus{
        outline: 3px solid #bbbbbb;
    }
    .label{
        color: white;
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    .textarea{
        width: 250px;
        height: 60px;
        border-radius: 10px;
        border: 1px white solid;
        background-color: transparent;
        font-family: 'Plus Jakarta Sans';
        color: white;
        padding: 5px;
        padding-left: 15px;
        font-size: large;
        resize: none;
    }

}

