.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: calc(92.5vw - 5%);
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    height: 77vh;
    border-top: rgb(79, 79, 79) 4px solid !important;
}
.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 30%;
}
.info span {
    padding-top: 7.5vh;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: inherit;
}
.button {
    margin-top: 4vh;
    background-color: transparent;
    color: inherit;
    width: 6vw;
    height: 4vh;
    font-size: .7vw;
}
.button:hover {
    background-color: #ffffff;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}
.image img {
    width: 90%;
    height: 90%;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(92.5vw - 5%);
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    height: 77vh;
    border-top: rgb(79, 79, 79) 4px solid !important;
    z-index: 3000;
}
.info2 {
    width: 100%;
    height: 50%;
    font-size: 1.2vw;
    margin-top: 1.5vw;
}
.info2 p {
    line-height: 2.5vw;
    font-weight: 300;
}
.info2 p span {
    font-weight: bold;
}
.competenciasList {
    display: flex;
    width: 45%;
    height: 100%;
}
.competencias {
    width: 100%;
    height: 50%;
    padding-left: 5vw;
    padding-top: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.competencias span {
    width: 40%;
    font-size: 1vw;
    font-weight: 300;
    padding-top: 1vh;
}
.competencias ul {
    width: 50%;
    font-size: .8vw;
    padding-right: 5vw;
    font-weight: 200;
}
.container3 {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(92.5vw - 5%);
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    height: 77vh;
    z-index: 1500;
    top: calc(120vh)
}
.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 150%;
    border: #ffffff 2px solid !important;
    border-radius: 50%;
    left: 65vw;
    bottom: -75vh;
    z-index: 1;
}
.circles2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    border: #ffffff 2px solid !important;
    border-radius: 50%;
    left: 70vw;
    z-index: 1;
}
.circles3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 65%;
    border: #ffffff 2px solid !important;
    border-radius: 100%;
    left: 70vw;
    z-index: 1;
}
.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: calc(92.5vw - 5%);
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    height: 77vh;
    border-top: rgb(79, 79, 79) 4px solid !important;
    z-index: 3000;
}
.div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.div1 span {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 200;
    margin-top: 18%;
    height: 82%;
    width: 35%;
}
.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65%;
}
.servicesContainer div {
    width: 50px;
    height: 50px;
    background-color: rgb(107, 107, 107);
    border-radius: 15%;
    margin: .8vw;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 100%;
}
.div2 h2 {
    font-size: 3.5vw;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 25vh;
}
.div2 span {
    font-size: 1vw;
    position: relative;
    padding: 3vw;
    bottom: 18vh;
    font-weight: 200;
}
.div2 div {
    height: 50px;
    width: 50px;
    background-color: rgb(107, 107, 107);
    position: relative;
    bottom: 11vh;
    border-radius: 100%;
}
.div2 h4 {
    letter-spacing: 2px;
    position: relative;
    bottom: 18vh;
    left: 1vw;
    font-weight: 300;
}
.div3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 100%;
}
.div3 img {
    width: 80%;
    height: 80%;

}
