.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  color: white;
  border-bottom: 1px solid white;
  width: 320px;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;

}

.form__field {
  color:white;
  font-family: inherit;
  width: 100%;
  border: 0;
  /* border-bottom: 2px solid $gray; */
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

.form__field:focus:hover {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  border-width: 3px;
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

button {
  font-family: 'Plus Jakarta Sans';
  border: none;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  background: white;
  color: #000000;
  border: 3px solid #ffffff;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 10px;
  height: 50px;
  width: 175px;
}

button:hover {
  color: #000000;
}
span {
  transition: all 0.7s;
  z-index: -1;
}

button .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #000000;
}

button:hover .first {
  top: 0;
  right: 0;
}
button .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffffff;
}

button:hover .second {
  top: 0;
  left: 50%;
}

button .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: red;
}

button:hover .third {
  top: 0;
  left: 25%;
}

button .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #000000;
}

button:hover .fourth {
  top: 0;
  left: 0;
}

.error{
  color: red;
  font-weight: 500;
  font-style: italic;
}
